AddDefaultCharset UTF-8
Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

# otherwise forward it to index.php
#RewriteRule . index.php
#RewriteRule ^(www\..*)$ index.php
RewriteRule ^(.*)$ index.php [L]

